Projeto_Eclipse/.settings/
Projeto_Eclipse/My Clippings.txt
Projeto_Eclipse/Piga_comentado.pdf
Projeto_Eclipse/libs/PDFclown/pdfclown-0.1.2-javadoc.jar
Projeto_Eclipse/merged_Piga_comentado.pdf
Projeto_Eclipse/merged_pdf_ingles_sem_anotation.pdf
Projeto_Eclipse/novo_pdf.pdf
Projeto_Eclipse/resources/My Clippings.txt
Projeto_Eclipse/resources/Piga_comentado.pdf
Projeto_Eclipse/resources/test/managepdf/My Clippings.txt
Projeto_Eclipse/resources/test/managepdf/Piga_comentado.pdf
releases/My Clippings.txt
releases/Piga_comentado.pdf
releases/merged_Piga_comentado.pdf
releases/pdfclown-0.1.2-sources.jar
releases/pdfclown.jar
